/* Fontes */

@font-face {
  font-family: 'badGrunge';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://files.lecdt.com/curiososonline/fonts/bad-grunge.woff') format('woff');
}

@font-face {
  font-family: 'gtWalsheimRegular';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://files.lecdt.com/curiososonline/fonts/gt-walsheim-regular.woff') format('woff');
}
