/*

INDEX > FOOTER

*/

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#2A2A2A),color-stop(80%,#0B0B0B));
  background-image: linear-gradient(180deg,#2A2A2A,#0B0B0B 80%);
  padding: 80px;
}

footer p {
  font-family: var(--fonte-regular);
  font-size: clamp(1rem, 5vw, 1.2rem);
  color: var(--cor-cinza-3);
  line-height: 1.5;
  padding: 0 0 0 40px;
}

/*

Responsivo

*/

@media screen and (max-width: 1000px) {
}
