/* index <section class="beneficios"> */

section.beneficios {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

/* Fumaça */

section.beneficios img.fumaca {
  position: absolute;
  width: 100%;
  max-width: 500px;
  z-index: 1;
}

section.beneficios img.fumaca.direita {
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

section.beneficios img.fumaca.esquerda {
  left: 0;
  top: 40%;
  transform: translate(0, -50%);
}

/* Fumaça */

section.beneficios img.icone {
  position: absolute;
  z-index: 2;
}

section.beneficios img.icone.um {
  width: 100%;
  max-width: 150px;
  top: 10%;
  right: 10%;
}

section.beneficios img.icone.dois {
  width: 100%;
  max-width: 150px;
  top: 40%;
  left: 10%;
}

section.beneficios img.icone.tres {
  width: 100%;
  max-width: 150px;
  bottom: 10%;
  right: 15%;
}

/* Partes */

section.beneficios .partes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1300px;
  padding: 140px 80px;
  z-index: 2;
}

section.beneficios .partes .parte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 40px 0;
}

section.beneficios .partes .parte.direita {
  text-align: left;
  align-items: flex-start;
  margin-left: auto;
}

section.beneficios .partes .parte.esquerda {
  text-align: right;
  align-items: flex-end;
  margin-right: auto;
}

section.beneficios .partes .parte h2 {
  font-family: var(--fonte-estilo);
  font-size: clamp(5rem, 5vw, 8rem);
  line-height: 1;
  color: var(--cor-branco);
}

section.beneficios .partes .parte p {
  font-family: var(--fonte-regular);
  font-size: clamp(1.2rem, 5vw, 1.4rem);
  line-height: 1.5;
  color: var(--cor-branco);
  width: 100%;
  max-width: 550px;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  section.beneficios {
    flex-direction: column;
  }
  section.beneficios img.fumaca {
    width: 70%;
  }
  section.beneficios img.fumaca.direita {
    top: 70%;
  }
  section.beneficios img.fumaca.esquerda {
    top: 30%;
  }
  section.beneficios img.icone.um {
    max-width: 80px;
    top: 2%;
    right: 50%;
  }
  section.beneficios img.icone.dois {
    max-width: 40px;
    left: 60%;
  }
  section.beneficios img.icone.tres {
    max-width: 50px;
    bottom: 2%;
    right: 50%;
  }
  section.beneficios .partes {
    padding: 50px 30px;
  }
  section.beneficios .partes .parte {
    width: 100%;
    padding: 100px 0;
  }
}
