/* index <section class="assinar"> */

section.assinar {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  position: relative;
}

/* Texto */

section.assinar img.fumaca {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

/* Texto */

section.assinar .texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  z-index: 2;
  padding: 80px 80px 80px 0;
  min-height: 100vh;
}

section.assinar .texto img {
  width: 100%;
  max-width: 500px;
}

section.assinar .texto p {
  font-family: var(--fonte-regular);
  font-size: clamp(1.2rem, 5vw, 1.4rem);
  line-height: 1.5;
  color: var(--cor-branco);
  width: 100%;
  max-width: 550px;
  padding: 30px 0;
}

section.assinar .texto button {
  font-family: var(--fonte-estilo);
  font-size: clamp(3rem, 5vw, 4rem);
  line-height: 1;
  color: var(--cor-ciano);
  border: 3px solid var(--cor-ciano);
  padding: 5px 25px;
  border-radius: 20px;
  background-color: transparent;
  transition: all 0.3s;
}

section.assinar .texto button:hover {
  color: var(--cor-branco);
  border: 3px solid var(--cor-branco);
}

/* Texto */

section.assinar .imagem {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 50%;
  padding: 80px 80px 0 0;
}

section.assinar .imagem img {
  width: 100%;
  z-index: 2;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  section.assinar {
    flex-direction: column-reverse;
    align-items: center;
    overflow: hidden;
  }
  section.assinar img.fumaca {
    width: 1000px;
    min-width: 1000px;
    max-width: 1000px;
  }
  section.assinar .texto {
    width: 100%;
    padding: 80px 30px 50px 30px;
    min-height: auto;
  }
  section.assinar .imagem {
    width: 100%;
    padding: 0 30px 0 0;
  }
}
